{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Djando App</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt at, nemo temporibus harum, quia nesciunt assumenda dignissimos nisi praesentium excepturi odit! Nihil, nulla eius, odio debitis tenetur ipsum voluptatibus enim eaque consectetur fuga accusantium possimus libero qui neque. Minus commodi ab architecto ipsum numquam, rem totam aspernatur, rerum repellat optio voluptate reiciendis ipsa exercitationem, minima inventore. Vitae asperiores molestiae et, hic, maiores saepe animi eum cumque harum facere consequuntur? Ad aliquid odit voluptatum! Ea distinctio repellat natus sint odio esse, amet sequi soluta quas, eum et, deserunt doloribus itaque dolorum! Molestiae iure corporis aliquam debitis minima quam assumenda at nisi!</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                    Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>

        </div>
    </section>
</main>
{% endblock %}